* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    background-color: rgb(25, 30, 102);
    height: 100vh;
}

.container {
    position: relative;
    width: 550px;
    height: 350px;
    background-color: rgb(23, 29, 113);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 4px #232323;
}

/* Header section */
.horizontal-line {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 95%;
    border: 2px solid rgb(219, 70, 95);
    border-radius: 25px  25px 0 0;
}

.header__title {
    font-size: 20px;
    color: azure;
    margin-bottom: 10px;
}

.header__menu {
    position: absolute;
    color: azure;
    right: 30px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.header__text {
    color: rgb(199, 203, 203);
    font-size: 15px;
    margin-bottom: 15px;
}

/* Main setion */
.main__text {
    letter-spacing: 1px;
    line-height: 20px;
    color: rgb(199, 203, 203);
    margin-bottom: 20px;
}

.main__tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main__tasks-text {
    color: azure;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0;
}

.main__horizontal-line{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6px;
    border: 6px solid rgb(28, 14, 86);
    border-radius: 25px;
}

.main__inside-of-line {
    width: 43%;
    border: 5px solid rgb(117, 242, 242);
    margin-left: -5px;
    border-radius: 25px;
}

/* Footer section */
.footer__imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

.footer__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(28, 14, 86);
}

.footer__icon {
    font-size: 60px;
    color:black;
}

@media only screen and (max-width: 430px) {
    .container {
        position: relative;
        height: 350px;
        width: 350px;
        padding: 30px;
    }

    /* Header section */
    .header__title {
        font-size: 15px;
    }

    .header__menu {
        position: absolute;
        right: 20px;
        top: 25px;
        border: 1px solid black;
        width: 30px;
        height: 30px;
    }

    .header__text {
        font-size: 12px;
    }

    /* Main setion */
    .main__text {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 15px;
        color: rgb(199, 203, 203);
        margin-bottom: 20px;
    }

    .main__tasks-text {
        font-size: 16px;
    }

    /* Footer section */
    .footer__imgs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 15px 0;
    }

    .footer__img {
        width: 50px;
        height: 50px;
    }

    .footer__icon {
        font-size: 50px;
        color:black;
    }
}